
 header{
    height: 100px;
    width: 100%;
    background-color: red;
  
}
 header section div{
    margin: 10px;
    float: right;
    padding: 12px;
    width: 200px;
    border-radius: 71px;
    background: linear-gradient(315deg, #141616, #181a1a);
    box-shadow:  -19px -19px 38px #0f1111, 
                 19px 19px 38px #1d1f1f;
 }

header section div p {
    margin: 0 0 0 12px;
    padding: 14px 0;
    display: inline;
    color: #565656;
}

header section div img {
    width: 40px;
    border-radius: 50px;
    background: #232323;
    box-shadow:  30px 30px 60px #1e1e1e, 
                 -30px -30px 60px #282828;
}

