
 header{
    height: 100px;
    width: 100%;
  
}
 header section div{
    margin: 15px;
    float: right;
    padding: 8px;
    width: 200px;
    border-radius: 71px;
    background: linear-gradient(145deg, #141616, #181a1a);
    box-shadow:  19px 19px 38px #0f1111, 
             -19px -19px 38px #1d1f1f;
 }

header section div p {
    position: absolute;
    margin: 0 0 0 10px;
    padding: 18px 7px;
    display: inline;
    font-size: 16px;
    color: #565656;
    
}

header section div img {
    width: 40px;
    padding: 5px 5px;
    border: 1px #232323 solid;
    border-radius: 71px;
    background: linear-gradient(145deg, #191717, #1e1c1c);
    box-shadow:  19px 19px 38px #141212, 
             -19px -19px 38px #242222;
}

