@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #232323;
}

html, body {
  margin: 0;
}

main{
  display: block;
}

.s-dark{
  border-radius: 50px;
  background: #222424;
  box-shadow:  7px 7px 14px #1d1f1f, 
               -7px -7px 14px #272929;
}