
footer {
    position:absolute;
    bottom:0;
    width:100%;
    padding-bottom: 40px;
    margin-top: auto;
    display: block;
  }
  
  
  footer section p {
    position: absolute;
    padding: 10px 0 10px 6px;
    display: inline;
    margin: 0;
    font-size: 18px;
    color: #565656;
  }

  footer section div {
    padding: 2px 5px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 200px;
    border-radius: 71px;
    background: linear-gradient(145deg, #141616, #181a1a);
    box-shadow:  19px 19px 38px #0f1111, 
             -19px -19px 38px #1d1f1f;
  }

  .icon{
    margin-left: 20px;
    width: 40px;
  }
  